{% extends 'base.html' %}

{% block content %}
<div class="home-pic">
    <img class="home-photo" src="{{url_for('static',filename='images/HOME PHOTO.png')}}" alt="home">
        <div class="home-text">
            <h3>Cafe Connect</h3>
            <h4><i>Brewed to Perfection, Shared with Friends</i></h4>
        </div>
        <div class="scroll">
            <img src="{{url_for('static',filename='images/arrow.gif')}}" alt="home">
            <h4>Scroll down!</h4>

</div>
<div class="homepic-left">
     <img class="home-photo" src="{{url_for('static',filename='images/CoffeePic.png')}}" alt="home">
     </div><div class="home-message-right" id="m1">
        <h3>Elevate Your Cafe Connect Experience with Our Premium Coffee Beans</h3>
        <p><i>At Cafe Connect, we are passionate about sourcing and roasting the finest specialty coffee beans from around the world. Our commitment to quality is evident in every sip, as we meticulously select and roast each bean to bring out its unique flavor profile and natural sweetness .A Smooth, Satisfying Sip Every Time Our unique roasting process ensures a smooth, clean finish that won't leave you with a sour taste or jittery feeling. With our coffee, you can say goodbye to bitterness and acidity, and hello to a truly exceptional coffee experience. Whether you prefer a bold, full-bodied roast or a bright, fruity blend, our selection of premium beans offers something for every palate. Treat yourself to the perfect cup, crafted with care and passion in every step, from sourcing to roasting to brewing. Discover the difference that premium beans can make in your Cafe Connect experience. </i></p>
     </div>
</div>
<div class="homepic-right">
     <img class="home-photo" src="{{url_for('static',filename='images/CoffeePic2.png')}}" alt="home">
     </div><div class="home-message-left" id="m2">
        <h3>Flavors that Captivate the Senses</h3>
        <p><i>At Cafe Connect, we take our chocolate offerings as seriously as we do our commitment to crafting the perfect cup of coffee. Sourced from the finest cocoa beans and blended with meticulous care, our artisanal chocolate creations are a true delight for the senses. Flavors that Captivate the Senses Prepare to be enchanted by the depth and complexity of our chocolate's flavor profiles. Indulge in the rich, velvety decadence of our signature Dark Chocolate, where notes of roasted cacao mingle with a subtle sweetness. Or, let your taste buds dance with the bright, citrusy notes of our Lemon Truffle, a harmonious blend of tart and creamy. For those seeking a truly indulgent experience, our Salted Caramel Bonbon offers an irresistible symphony of flavors, with each bite a revelation that lingers long after the last morsel has melted on your tongue. Elevate your Cafe Connect experience and discover the true art of chocolate-making.</i></p>
     </div>
</div>
<div class="homepic-left">
     <img class="home-photo" src="{{url_for('static',filename='images/CoffeePic1.png')}}" alt="home">
    </div><div class="home-message-right" id="m3">
        <h3>The Perfect Companion for Any Occasion</h3>
        <p><i>At Cafe Connect, we take pride in sourcing and crafting the finest artisanal chocolate, elevating every sip and bite of our beloved beverages and treats. Meticulously blended from the highest quality cocoa beans, our chocolate creations are a true testament to our commitment to quality and the pursuit of culinary excellence. The Perfect Companion for Any Occasion Whether you're looking to start your day with a rich, velvety mocha, indulge in a decadent chocolate-filled pastry during your afternoon break, or savor a special treat with loved ones, our artisanal chocolate is the perfect companion. Pair it with a steaming cup of our signature coffee or enjoy it on its own - every morsel is a revelation, a symphony of flavors that will elevate your Cafe Connect experience to new heights. Discover the difference that passion, precision, and an unwavering dedication to quality can make in every bite.</i></p>
     </div>
</div>
<div class="homepic-right">
     <img class="home-photo" src="{{url_for('static',filename='images/CoffeePic3.png')}}" alt="home">
     </div><div class="home-message-left" id="m4">
        <h3>Elevate Your Culinary Experiences</h3>
        <p><i>At the heart of every delectable treat and rich, velvety beverage served at Cafe Connect lies our exceptional artisanal cream - a true testament to quality, sustainability, and the pursuit of culinary excellence. Crafted with unwavering attention to detail, our cream is made with only the purest, high-quality ingredients sourced from local dairy farms committed to ethical and environmentally-conscious practices. Free from artificial additives, hormones, and preservatives, every drop captures the authentic, unadulterated essence of the dairy.
            Elevate your senses and immerse yourself in the creamy perfection that defines the Cafe Connect experience. Savor the difference that passion, precision, and a commitment to quality can make in every sip and bite. Discover for yourself why our artisanal cream is the heart and soul of our beloved cafe. Whether you're savoring one of our signature coffee creations, indulging in a decadent pastry, or enjoying a simple yet satisfying dollop on your favorite fruit, our artisanal cream elevates each experience with its rich, velvety texture and pure, nuanced flavor. It's the secret ingredient that transforms the ordinary into the extraordinary.
        </i></p>
     </div>

</div>
    <main>
        <form>
        </form>
    </main>
{% endblock %}